{% extends 'main.html' %}
{% load static %}

{% include 'courses/inc/inc_title.html' %}

{% block main_menu %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'courses:create' %}">
        Добавить новый курс
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'courses:message' %}">
        Обратная связь
    </a>
</li>
{% endblock %}

{% block content %}
    <h1>Курсы</h1>
    <div class="courses-list">
        <ul>
        {% for course in object_list %}
            <li>
                <a href="{% url 'courses:view' course.pk %}">
                    {{ course.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
