django<3.0
#django-cors-middleware
django-debug-toolbar
django-dynamic-fixture
django-environ
django-filter
django-oauth-toolkit
django-rq
#django-rest-framework
djangorestframework
djangorestframework-simplejwt
factory-boy
Faker
graphene
graphene-django
graphql-core
graphql-relay
markdown
gunicorn
#psycopg2-binary
python-dateutil
pytz
six
text-unidecode